@{
    ViewBag.Title = "Sobre";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <h4>Missão</h4>
    <p>
        "Oferecer produtos tecnológicos de alta qualidade que proporcionem uma experiência de compra rápida, segura e acessível, atendendo às necessidades e expectativas dos nossos clientes. Na Hardstop, buscamos conectar pessoas à inovação e ao conforto que a tecnologia pode proporcionar."
    </p>

    <h4>Valores</h4>
    <ul>
        <li>
            Inovação Contínua: Estamos comprometidos em oferecer sempre os produtos mais atualizados e soluções inovadoras para nossos clientes.
        </li>
        <li>
            Qualidade e Confiabilidade: Selecionamos cuidadosamente os produtos para garantir durabilidade e eficiência, sempre prezando pela satisfação do cliente.
        </li>
        <li>
            Transparência e Ética: Agimos com integridade e respeito, garantindo uma relação de confiança com nossos clientes e parceiros.
        </li>
        <li>
            Excelência no Atendimento: Valorizamos cada cliente e buscamos atender de forma ágil, personalizada e eficiente.
        </li>
        <li>
            Responsabilidade Ambiental: Buscamos práticas sustentáveis, conscientes do impacto de nossos produtos no meio ambiente, incentivando o consumo responsável de tecnologia.
        </li>
    </ul>
</main>